.inputContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.input {
    width: 400px;
    height: 25px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.countryCard {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 10px;
}

.flagImg {
    width: 150px;
    height: 150px;
}